body{
    background: #262424;
    color: #fff;
    cursor: pointer;
}

a{
    text-decoration: none;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
}


.img-container {
    display: block;
    position: relative;
    margin-top: 20px;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
  } 



  .img-container{
    margin-right: 100px;
    margin-bottom: 50px;
    background-position: center;
    display: flex;
    object-fit: contain;
    justify-content: center;
    height: 500px;
    background-image: url();
    background-repeat: no-repeat;
    width: 40%;
    border: 3px solid white;
    box-shadow: #fff;
    float: right;
  }
  @media (max-width: 991px) {
    .collection-showcase-mini-1 {
      width: 100%;
    }
  }
  
img{
  height: 500px;
  width: 100%;
  padding: 10px;
}

  h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: 700;
    color: #67DFFA;
    margin-top: 100px;
    margin-left: 50px;
  }


.eli:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 1000ms infinite;      
    animation: ellipsis steps(4,end) 1000ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
    font-size: 60px;
    color: aqua
  }
  
  @keyframes ellipsis {
    to {
      width: 1.25em;    
    }
  }
  
  @-webkit-keyframes ellipsis {
    to {
      width: 1.25em;    
    }
  }

.nav{
  display: flex;
  flex-direction: row;
  line-height: 1.5;
  font-size: 30px;
  justify-content: center;
  flex-wrap: wrap;

}

li{
  list-style: none;
  display: inline-flex;
  justify-content: center;
  margin: 0 15px;
  flex-grow: 2;
}

a{
  color: lawngreen;
}
a:hover{
  color: palevioletred;
}