body{
    background: #333;
    color: #fff;
    cursor: text;
}

a{
    text-decoration: none;
    color: white;
    font-size: 50px;
}

h2{
  opacity: 0;
}
h2:hover{
  opacity: 1;
}

.collection-list {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: "Times New Roman", serif;
  }
  @media (max-width: 991px) {
    .collection-list {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }
  }
  .collection-showcase-mini-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    padding-bottom: 0px;
    background-position: center;
    background-size: cover;
    justify-content: center;
    height: 500px;
    background-image: url("/Users/kaitlyndolan/Desktop/100devs/cocktailsAPI/cocktail-API/whiskeysour.jpg");
    background-repeat: no-repeat;
    width: 33%;
    border: 3px solid white;
    color: rgba(255, 255, 255, 1);
    margin-left: 20px;
    line-height: normal;
  }
  @media (max-width: 991px) {
    .collection-showcase-mini-1 {
      width: 100%;
    }
  }
  .collection-showcase-mini-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    padding-bottom: 0px;
    background-position: center;
    background-size: cover;
    justify-content: center;
    height: 500px;
    background-image: url("/Users/kaitlyndolan/Desktop/100devs/cocktailsAPI/cocktail-API/polermo.jpg");
    background-repeat: no-repeat;
    width: 33%;
    border: 3px solid white;
    color: rgba(255, 255, 255, 1);

  }
  @media (max-width: 991px) {
    .collection-showcase-mini-2 {
      width: 100%;
    }
  }
  .collection-showcase-mini-3 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    padding-bottom: 0;
    background-position: center;
    background-size: cover;
    justify-content: center;
    height: 500px;
    background-image: url("/Users/kaitlyndolan/Desktop/100devs/cocktailsAPI/cocktail-API/screwdriver.jpg");
    background-repeat: no-repeat;
    width: 33%;
    border: 3px solid white;
  }
  @media (max-width: 991px) {
    .collection-showcase-mini-3 {
      width: 100%;
    }
  }

  h1{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
  }